@media screen and (max-width: 390px) {
    #logo{
        margin-left: 40px;
    }
    form input[type=button]{
        margin-left: 40px;
    }
    #refugiados{
        width: 150px;
    }
    #botaotp1{
        margin-top: 5px;
    }
    #botaotp2{
        margin-top: 5px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 412px) {
    #logo{
        margin-left: 45px;
    }
    form input[type=button]{
        margin-left: 40px;
    }
    #refugiados{
        width: 150px;
    }
    #botaotp1{
        margin-top: 5px;
    }
    #botaotp2{
        margin-top: 5px;
        margin-left: 40px;
    }
}
