*{margin:0;padding:0;box-sizing: border-box;}
body{
    background-color: #493987;
}
form{
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
form h3{
    text-align: center;
    color: #493987;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
form input[type=button]{
    width: 50%;
    height: 40px;
    cursor: pointer;
    background: #493987;
    color: white;
    border: 0;
    border-radius: 20px;
    margin: 5px;
    margin-left: 80px;
}
form input[type=button]:hover{
    background-color: aqua;
}
form input[type=text]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}
#menu{
    background-color: white;
    max-width: 500px;
    width: 70%;
    height: 350px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 10px 10px 5px #270d78;
}
#logo{
    width: 70px;
    height: 70px;
    margin-left: 120px;
}
#refugiados{
    width: 300px;
}
#botaotp1{
    margin: -1px;
}
#tp1{
    box-shadow: 10px 10px 5px #270d78;
}

